DB_HOST=localhost 
DB_NAME=task_manager # main database name
DB_TEST_NAME=task_manager_test # testing database name
DB_USER=your_database_username # username for login
DB_PASSWORD=your_database_password # password for login
